<div class="rental">
    <img class="rental-image" src="/images/Rentals/{{imageUrl}}" alt="{{headline}} rental picture"/>
    <h2 class="rental-name">{{headline}},{{city}},{{province}}
    </h2>
    <p class="rental-desc">
        SLEEPS {{numSleeps}} {{numBedrooms}}BD {{numBathrooms}}BA ${{pricePerNight}}/night
    </p>
</div>